p {
    font-family: 'Montserrat', serif;
}

.map {
    position: relative;
}



/* CUSTOM BUTTON FOR EWL */ 
.ew-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #009645 2px;
    text-decoration: none;
}
  
.ew-btn:hover {
    background: #009645;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR NSL */
.ns-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #D42E12 2px;
    text-decoration: none;
}
  
.ns-btn:hover {
    background: #D42E12;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR NEL */
.ne-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #9900AA 2px;
    text-decoration: none;
}
  
.ne-btn:hover {
    background: #9900AA;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR CCL */
.cc-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #FA9E0D 2px;
    text-decoration: none;
}
  
.cc-btn:hover {
    background: #FA9E0D;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR DTL */
.dt-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #005EC4 2px;
    text-decoration: none;
}
  
.dt-btn:hover {
    background: #005EC4;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR TEL */
.te-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.25% 0.25%;
    border: solid #784008 2px;
    text-decoration: none;
}
  
.te-btn:hover {
    background: #784008;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR LRT STATIONS */
.lrt-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.2% 0.2%;
    border: solid #999999 2px;
    text-decoration: none;
}
  
.lrt-btn:hover {
    background: #999999;
    text-decoration: none;
}

/* CUSTOM BUTTON FOR INTERCHANGE STATIONS */
.ic-btn {
    position: absolute;
    -webkit-border-radius: 41;
    -moz-border-radius: 41;
    border-radius: 38px;
    font-size: 0px;
    color: transparent;
    background: #ffff;
    padding: 0.3% 0.3%;
    border: solid #000000 5px;
    text-decoration: none;
}
  
.ic-btn:hover {
    background: #000000;
    text-decoration: none;
}

/* EAST-WEST LINE & CHANGI AIRPORT BRANCH LINE */
.cg1 {
    top: 66%;
    left: 90.65%;
}

.cg2 {
    top: 66.2%;
    left: 94.2%;
}

.ew1 {
    top: 51.5%;
    left: 90.6%;
}

.ew2 {
    top: 56.7%;
    left: 87.7%;
}

.ew3 {
    top: 60.2%;
    left: 87.9%;
}

.ew4 {
    top: 62.5%;
    left: 86.5%;
}

.ew5 {
    top: 62.7%;
    left: 83.7%;
}

.ew6 {
    top: 62.7%;
    left: 79.5%;
}

.ew7 {
    top: 62.7%;
    left: 75.2%;
}

.ew8 {
    top: 62.5%;
    left: 70.7%;
}

.ew9 {
    top: 63.2%;
    left: 69.3%;
}

.ew10 {
    top: 66.5%;
    left: 66.8%;
}

.ew11 {
    top: 68.6%;
    left: 65.3%;
}

.ew12 {
    top: 71%;
    left: 63.2%;
}

.ew13 {
    top: 77.5%;
    left: 58.3%;
}

.ew14 {
    top: 80.5%;
    left: 56.1%;
}

.ew15 {
    top: 83.5%;
    left: 49.1%;
}

.ew16 {
    top: 77.5%;
    left: 46%;
}

.ew17 {
    top: 73.5%;
    left: 44.3%;
}

.ew18 {
    top: 70.2%;
    left: 41.9%;
}

.ew19 {
    top: 66%;
    left: 38.9%;
}

.ew20 {
    top: 62.6%;
    left: 36.5%;
}

.ew21 {
    top: 58.5%;
    left: 33.5%;
}

.ew22 {
    top: 55.8%;
    left: 31.6%;
}

.ew23 {
    top: 51.3%;
    left: 28.4%;
}

.ew24 {
    top: 50.1%;
    left: 19.7%;
}

.ew25 {
    top: 50.4%;
    left: 17.1%;
}

.ew26 {
    top: 50.4%;
    left: 13.9%;
}

.ew27 {
    top: 50.4%;
    left: 10.5%;
}

.ew28 {
    top: 50.4%;
    left: 8.1%;
}

.ew29 {
    top: 50.4%;
    left: 6%;
}

.ew30 {
    top: 53%;
    left: 5%;
}

.ew31 {
    top: 56%;
    left: 5%;
}

.ew32 {
    top: 58.8%;
    left: 5%;
}

.ew33 {
    top: 61.5%;
    left: 5%;
}

/* NORTH-SOUTH LINE */
.ns2 {
    top: 40.4%;
    left: 19.9%;
}

.ns3 {
    top: 34.2%;
    left: 19.9%;
}

.ns4 {
    top: 21.5%;
    left: 19.7%;
}

.ns5 {
    top: 16.5%;
    left: 19.9%;
}

.ns7 {
    top: 8.1%;
    left: 24.6%;
}

.ns8 {
    top: 8.1%;
    left: 30.4%;
}

.ns9 {
    top: 7.8%;
    left: 38.4%;
}

.ns10 {
    top: 8.1%;
    left: 43%;
}

.ns11 {
    top: 8.1%;
    left: 48.1%;
}

.ns12 {
    top: 9.7%;
    left: 51.7%;
}

.ns13 {
    top: 13.7%;
    left: 54.6%;
}

.ns14 {
    top: 19.4%;
    left: 55.4%;
}

.ns15 {
    top: 24.2%;
    left: 55.4%;
}

.ns16 {
    top: 29.3%;
    left: 55.4%;
}

.ns17 {
    top: 38.2%;
    left: 55.2%;
}

.ns18 {
    top: 41.7%;
    left: 55.4%;
}

.ns19 {
    top: 45.7%;
    left: 54.2%;
}

.ns20 {
    top: 48.7%;
    left: 52%;
}

.ns21 {
    top: 51.9%;
    left: 49.4%;
}

.ns22 {
    top: 57.4%;
    left: 46.5%;
}

.ns23 {
    top: 62%;
    left: 49.3%;
}

.ns24 {
    top: 67.5%;
    left: 53.3%;
}

.ns27 {
    top: 90%;
    left: 55.1%;
}

.ns28 {
    top: 94.7%;
    left: 55.4%;
}

/* NORTH-EAST LINE */
.ne1 {
    top: 85%;
    left: 40.65%;
}

.ne4 {
    top: 73.9%;
    left: 48.6%;
}

.ne5 {
    top: 71.1%;
    left: 51%;
}

.ne7 {
    top: 59.2%;
    left: 54.8%;
}

.ne8 {
    top: 56.7%;
    left: 56.9%;
}

.ne9 {
    top: 54.2%;
    left: 58.7%;
}

.ne10 {
    top: 51.4%;
    left: 60.8%;
}

.ne11 {
    top: 48.8%;
    left: 62.7%;
}

.ne12 {
    top: 45%;
    left: 64.9%;
}

.ne13 {
    top: 42%;
    left: 67.4%;
}

.ne14 {
    top: 38.9%;
    left: 69.7%;
}

.ne15 {
    top: 35.9%;
    left: 71.8%;
}

.ne16 {
    top: 29.5%;
    left: 76.1%;
}

.ne17 {
    top: 20%;
    left: 82.9%;
}

/* CIRCLE LINE */
.cc2 {
    top: 72.6%;
    left: 58.1%;
}

.cc3 {
    top: 77.2%;
    left: 61.3%;
}

.cc4 {
    top: 79.1%;
    left: 67%;
}

.cc5 {
    top: 75.3%;
    left: 69.2%;
}

.cc6 {
    top: 70.8%;
    left: 70.3%;
}

.cc7 {
    top: 68.4%;
    left: 70.7%
}

.cc8 {
    top: 65.85%;
    left: 70.9%
}

.cc10 {
    top: 56.7%;
    left: 70%;
}

.cc11 {
    top: 54.1%;
    left: 69.5%;
}

.cc12 {
    top: 50.4%;
    left: 68%;
}

.cc14 {
    top: 40.8%;
    left: 60.5%;
}

.cc16 {
    top: 38.1%;
    left: 50.8%;
}

.cc17 {
    top: 39.4%;
    left: 46.3%;
}

.cc19 {
    top: 46%;
    left: 38.25%;
}

.cc20 {
    top: 50.3%;
    left: 36.2%;
}

.cc21 {
    top: 53.8%;
    left: 34.9%;
}

.cc23 {
    top: 62.5%;
    left: 33.4%;
}

.cc24 {
    top: 66.1%;
    left: 33.4%;
}

.cc25 {
    top: 69.6%;
    left: 33.8%;
}

.cc26 {
    top: 73.8%;
    left: 34.6%;
}

.cc27 {
    top: 77.8%;
    left: 36.1%;
}

.cc28 {
    top: 81.4%;
    left: 37.9%;
}

.ce1 {
    top: 85.5%;
    left: 62.3%;
}

/* DOWNTOWN LINE */
.dt1 {
    top: 21.5%;
    left: 33.4%; 
}

.dt2 {
    top: 25.7%;
    left: 33.6%;
}

.dt3 {
    top: 28.8%;
    left: 33.6%;
}

.dt5 {
    top: 35%;
    left: 33.6%;
}

.dt6 {
    top: 39.6%;
    left: 34%;
}

.dt7 {
    top: 41.5%;
    left: 35.2%;
}

.dt8 {
    top: 43.7%;
    left: 36.8%;
}

.dt10 {
    top: 47.6%;
    left: 46.3%;
}

.dt13 {
    top: 63.3%;
    left: 57.6%;
}

.dt17 {
    top: 85.2%;
    left: 56.7%;
}

.dt18 {
    top: 79%;
    left: 52.3%;
}

.dt20 {
    top: 71.4%;
    left: 49.6%;
}

.dt21 {
    top: 68.1%;
    left: 58.7%;
}

.dt22 {
    top: 64.7%;
    left: 61%;
}

.dt23 {
    top: 61.8%;
    left: 63.2%;
}

.dt24 {
    top: 58.7%;
    left: 65.3%;
}

.dt25 {
    top: 56.9%;
    left: 68.1%;
}

.dt27 {
    top: 56.9%;
    left: 73.8%;
}

.dt28 {
    top: 56.9%;
    left: 77%;
}

.dt29 {
    top: 56.9%;
    left: 79.8%;
}

.dt30 {
    top: 56.9%;
    left: 82.9%;
}

.dt31 {
    top: 56.9%;
    left: 85.6%;
}

.dt33 {
    top: 60%;
    left: 90.9%;
}

.dt34 {
    top: 63.6%;
    left: 90.9%;
}

/* THOMSON-EAST COAST LINE */
.te1 {
    top: 2.8%;
    left: 34.8%;
}

.te3 {
    top: 12%;
    left: 41.35%;
}

/* BUKIT PANJANG LRT */
.bp2 {
    top: 21.9%;
    left: 22.55%;
}

.bp3 {
    top: 21.9%;
    left: 25%;
}

.bp4 {
    top: 21.9%;
    left: 27.5%
}

.bp5 {
    top: 21.9%;
    left: 30%;
}

.bp7 {
    top: 23.8%;
    left: 36.65%;
}

.bp8 {
    top: 25.2%;
    left: 38.3%;
}

.bp9 {
    top: 24%;
    left: 39.8%;
}

.bp10 {
    top: 21.8%;
    left: 39.8%;
}

.bp11 {
    top: 19.7%;
    left: 39.8%;
}

.bp12 {
    top: 18.5%;
    left: 38.3%;
}

.bp13 {
    top: 20%;
    left: 36.65%;
}

/* SENGKANG WEST LRT */
.sw1 {
    top: 26.6%;
    left: 75.3%;
}

.sw2 {
    top: 24%;
    left: 75%;
}

.sw3 {
    top: 22.2%;
    left: 73.8%;
}

.sw4 {
    top: 22.2%;
    left: 72.1%;
}

.sw5 {
    top: 24.2%;
    left: 70.7%;
}

.sw6 {
    top: 26.2%;
    left: 70.9%;
}

.sw7 {
    top: 27.6%;
    left: 71.8%;
}

.sw8 {
    top: 28.4%;
    left: 73.9%;
}

/* SENGKANG EAST LRT */
.se1 {
    top: 31.3%;
    left: 79.7%;
}

.se2 {
    top: 33%;
    left: 81.4%;
}

.se3 {
    top: 36.3%;
    left: 81.4%;
}

.se4 {
    top: 36.8%;
    left: 78.7%;
}

.se5 {
    top: 34%;
    left: 77.4%;
}

/* PUNGGOL WEST LRT */
.pw1 {
    top: 17%;
    left: 82.1%;
}

.pw2 {
    top: 14.3%;
    left: 81.7%;
}

.pw3 {
    top: 12.5%;
    left: 80.5%;
}

.pw4 {
    top: 13.8%;
    left: 78.1%;
}

.pw5 {
    top: 16.7%;
    left: 77.6%;
}

.pw6 {
    top: 18.4%;
    left: 78.9%;
}

.pw7 {
    top: 18.9%;
    left: 80.7%;
}

/* PUNGGOL EAST LRT */
.pe1 {
    top: 24%;
    left: 84.2%;
}

.pe2 {
    top: 26.3%;
    left: 84.7%;
}

.pe3 {
    top: 28%;
    left: 85.9%;
}

.pe4 {
    top: 27.1%;
    left: 88%;
}

.pe5 {
    top: 23.9%;
    left: 88.7%;
}

.pe6 {
    top: 22.4%;
    left: 87.6%;
}

.pe7 {
    top: 21.7%;
    left: 85.9%;
}


.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.display-topright{position:absolute;right:0;top:0}
.modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
